/* reset css */

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main styling */

html,body {
  font-family: 'Arial', Helvetica, sans-serif;
  line-height: 1.7em;
}

a {
  color:#333;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom:20px;
}

p {
  margin:10px 0;
}

/* Utilitys */

.container {
  margin:auto;
  max-width: 1100px;
  overflow: auto;
  padding:0 20px;
}

.text-primary {
  color:#f7c08a;
}

.lead {
  font-size: 20px;
}

.clr {
  clear: both;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  font-family: inherit;
  background:#333;
  padding:13px 20px;
  border:none;
  cursor: pointer;
}

.btn.btn-light {
  background:#f4f4f4;
  color:#333;
}

.btn:hover {
  color:#333;
  background:#f7c08a;
}

.bg-dark {
  background:#333;
  color:#fff;
}

.bg-light {
  background:#f4f4f4;
  color:#333;
}

.bg-primary {
  background:#f7c08a;
  color:#333;
}

.lg-heading {
  font-size:40px;
}

/* padding */

.py-1 {
  padding:10px 0;
}

.py-2 {
  padding:20px 0;
}

.py-3 {
  padding:30px 0;
}

/* navbar */

#navbar {
  background:#333;
  color:#fff;
  overflow:auto;
}

#navbar a {
  color:#fff;
}

#navbar h1 {
  float:left;
  padding-top:20px;
}

#navbar ul {
  list-style:none;
  float: right;
}


#navbar ul li {
  float:left;
}

#navbar ul li a {
  display:block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background:#444;
  color:#f7c08a;
}

/* footer */

#main-footer {
  text-align: center;
  background: #444;
  color:#fff;
  padding:20px;
}